<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fastgram.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5875323727BD2EFD00B78AB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5875324D27BD2F0200B78AB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5875325727BD2F0200B78AB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
